.card {
  max-height: 40rem;
  border: 0;
}

.card,
.card-header,
.card-footer {
  background-color: inherit;
}

.card-header {
  border-bottom: none;
}

.card-footer {
  border-top: none;
}

.card-body,
.card-header,
.card-footer {
  padding: 0;
  margin: 0;
}
