@use "../node_modules/bootstrap/scss/bootstrap" as *;

.navbar {
  z-index: 999;
  background-color: transparent;
}

.navbar-collapse {
  @media (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    text-align: center;
    background-color: $dark;
    padding: 0.75rem 0;
  }
}
