@use "index" as *;

.navbar {
  z-index: 999;
  background-color: transparent;
}

.navbar-collapse {
  @media (max-width:$sm) {
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    text-align: center;
    background-color: $dark;
    padding: 0.75rem 0;
  }
}
